@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
.list {
    list-style-type: none;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}
.item {
    color: white;
    background: gray;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Control the left side. */
.label {
    left: 0;
    text-align: left;
}
/* Control the right side. */
.value {
    color: lightgray;
    text-align: right;
}
/* Control the right side. */
.control {
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}