@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.menu {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    padding-top: 0;
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: #333333;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.parent {
    display: block;
    position: relative;
    float: left;
    line-height: 30px;
    background-color: #333333;
}

.parent a {
    margin: 10px;
    color: #dddddd;
    text-decoration: none;
}

.parent:hover>ul {
    display: block;
    position: absolute;
}

.child {
    display: none;
}

.child li {
    width: 100%;
    line-height: 30px;
    background-color: #333333;
    border-bottom: 1px solid #808080;
}

.child li a {
    color: #dddddd;
}

.menu ul {
    min-width: 10em;
    padding: 0;
    list-style: none;
}

.menu ul ul ul {
    top: 0;
    margin-left: 1px;
    left: 100%;
}

.menu li:hover {
    background-color: #696969;
    color: #ffffff;
}

.parent li:hover {
    background-color: #696969;
    color: #ffffff;
}

.expand {
    float: right;
    margin-right: 5px;
    font-size: 12px;
}